.mixin.out
backups
crash-reports
downloads
journeymap
local
logs
mods
patchouli_books
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
mputils
maps

usercache.json
usernamecache.json
patchouli_data.json
options.txt
optionsof.txt
minecraftinstance.json
crafttweaker.log
*.curseclient
*.lnk