.mixin.out
backups
config/jeresources
crash-reports
downloads
journeymap
local
logs
mods
patchouli_books
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
maps

usercache.json
usernamecache.json
patchouli_data.json
options.txt
optionsof.txt
minecraftinstance.json
manifest.json
.ReAuth.cfg
*.dat
*.curseclient
*.lnk
*.log
*.old
*.csv
worldSettings.cfg
hei_bookmarks.ini
