# Configuration file

"enchantability - armor" {
    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:CHAIN=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:IRON=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:JETPACK_SJ=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:LEATHER=15

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:MUMMY=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:PIGGYBACK=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:SLIME=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:"TF:COPPER"=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:TIN"=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 14]
    I:WANDERER=14

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 0]
    I:armory=0

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 1000]
    I:avaritia_infinity=1000

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:bamArmourMaterial=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 8]
    I:boneArmourMaterial=8

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:diamond_helmet_probe=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:draconicArmor=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 75]
    I:dragonArmorMaterial=75

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:emeraldArmourMaterial=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:flintArmourMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 25]
    I:gold_helmet_probe=25

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 9]
    I:iron_helmet_probe=9

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:lapisArmourMaterial=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 35]
    I:lavaArmorMaterial=35

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:obsidianArmorMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 12]
    I:quartzArmourMaterial=12

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 20]
    I:redstoneArmourMaterial=20

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 10]
    I:stoneArmourMaterial=10

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 40]
    I:witherArmorMaterial=40

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 5]
    I:woodArmourMaterial=5

    # The enchantability of this armor material. [range: 0 ~ 2147483647, default: 15]
    I:wyvernArmor=15
}


"enchantability - tools" {
    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:DIAMOND=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:GLITCH_INFUSED_MATERIAL=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 40]
    I:GOLD=40

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_HOE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_PICKAXE=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_SHOVEL=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 200]
    I:INFINITY_SWORD=200

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:IRON=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:LuxSaber=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:STONE=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:"TF:ALUMINUM"=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:BRONZE"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:CONSTANTAN"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:COPPER"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 30]
    I:"TF:ELECTRUM"=30

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 12]
    I:"TF:INVAR"=12

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 9]
    I:"TF:LEAD"=9

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 18]
    I:"TF:NICKEL"=18

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 16]
    I:"TF:PLATINUM"=16

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 25]
    I:"TF:SILVER"=25

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:"TF:STEEL"=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 7]
    I:"TF:TIN"=7

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:Ti-Tema-ian=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:WOOD=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:birthdayToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:boneToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:bscDiamondToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:bscGoldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:bscIronToolMaterial=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:emeraldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:flintToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:kappaToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:obsidianToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:pdiamondToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pemeraldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:pflintToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pgoldToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 14]
    I:pironToolMaterial=14

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 10]
    I:pobsidianToolMaterial=10

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 5]
    I:pstoneToolMaterial=5

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 15]
    I:pwoodToolMaterial=15

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:pwubwubToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:seaIronToolMaterial=22

    # The enchantability of this tool material. [range: 0 ~ 2147483647, default: 22]
    I:wubwubToolMaterial=22
}


