# Configuration file

##########################################################################################################
# damage
#--------------------------------------------------------------------------------------------------------#
# Damage settings
##########################################################################################################

damage {
    # Amount of damage the forcefield does when an entity touches it [range: 0.0 ~ 1000.0, default: 19.0]
    S:forcefieldDamage=19.0
}


##########################################################################################################
# power
#--------------------------------------------------------------------------------------------------------#
# Power settings
##########################################################################################################

power {
    # The amount of power to consume per forcefield panel while it is building up [range: 0 ~ 1000000000, default: 500]
    I:forcefieldBuildupPower=500
}


##########################################################################################################
# utility
#--------------------------------------------------------------------------------------------------------#
# Utility settings
##########################################################################################################

utility {
    # This is the maximum amount of power the automation field will accumulate in a tick. Limiting this will basically set a limit to the amount of operations per tick that can be handled [range: 1 ~ 2147483647, default: 400]
    I:autoFieldAccumulatePerTick=400

    # When transfering stacks with more than 1 item, the size of the stack will be multiplied with this factor and that cost will be added to the 'per operation' cost for transfering the stack [range: 0.0 ~ 1.0E9, default: 2.0]
    S:autoFieldFactorPerCombinedStack=2.0

    # This is the maximum amount of power the automation field can accumulate [range: 1 ~ 2147483647, default: 3200]
    I:autoFieldMaxAccumulatedPower=3200

    # The automation field will gather power in an internal capacitor to be able to do a single operation. This represents the amount of accumulated power needed for this operation [range: 1 ~ 2147483647, default: 100]
    I:autoFieldPowerPerOperation=100

    # The maximum height of a door [range: 1 ~ 50, default: 6]
    I:maxDoorHeight=6

    # Amount of charges needed before the warper can work (from overworld to Ariente) [range: 0 ~ 2147483647, default: 10]
    I:maxWarperCharges=10

    # The maximum supported power of a power armor suit piece [range: 1 ~ 100000, default: 100]
    I:powersuitMaxPower=100

    # The maximum supported power of a power armor suit piece with the energy module installed [range: 1 ~ 100000, default: 130]
    I:powersuitMaxPowerOptimized=130

    # Given a power consumption of 1, this represents the amount of ticks a single negarite/posirite item will last for a powersuit armor piece [range: 1 ~ 10000000, default: 30000]
    I:powersuitTicks=30000

    # Given a power consumption of 1, this represents the amount of ticks a single negarite/posirite item will last for a powersuit armor piece (with energy module installed) [range: 1 ~ 10000000, default: 40000]
    I:powersuitTicksOptimized=40000
}


##########################################################################################################
# worldgen
#--------------------------------------------------------------------------------------------------------#
# World generation settings
##########################################################################################################

worldgen {
    # Enable overworld oregen: 'yes', 'no', or 'default' (only when Ariente World is not installed) (DEFAULT,YES,NO) [default: DEFAULT]
    S:overworldOregen=DEFAULT
}


